.advanture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}

.advanture >div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.advanture >div >div{
    margin:30px 50px;
}
.advanture p{
    color:gray;
}
   