.nearbyplaces {
    margin: 80px;
    display: flex;
    justify-content: space-evenly;

}

.nearbyplace {
    display: flex;
    height: 50px;
    cursor: pointer;
    min-width: 210px;
}



.nearbyplace__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nearbyplace__contents > span { 
    font-size: 18px;
    font-weight: 700;
}

.nearbyplace__contents > p {
    font-size: 15px;
}